<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
    {% block scripts %}
        <script>

        function chatTrain(){
            alert('Training...');
        }

        function sendAsk(){
            ctext = document.getElementById("chattext").value;
            {#공백인경우 포커스#}
            if(ctext == ""){
                document.getElementById("chattext").focus();
                return false;

            }
            //alert(ctext);

            addtext = "<div style='margin:15px 0; text-align:right;'><span style='padding:3px 10px;background-color:#3388cc;border-radius:3px;'>" + ctext + "</span></div>"
            //div같은 거를 읽을 때 innerhtml
            document.getElementById("chatbox").innerHTML += addtext;

            btext = "나는 JW봇이라고 해"
            bottext = "<div style='margin:15px 0;text-align:left;'><span style='padding:3px 10px;background-color:#DDD;border-radius:3px;'>" + btext + "</span></div>";
            document.getElementById("chatbox").innerHTML += bottext;

        }
        </script>

    {% endblock %}
    {% block styles %}
    <style>
        .chatheader {
            position: fixed;
            left:0;
            top:0;
            width:100%;
            padding:10px 0;
            background-color:#DDD;
            color:#000;
            text-align:center;
        }
        .chatfooter {
            position: fixed;
            left:0;
            bottom:0;
            width:100%;
            padding:10px 0;
            background-color:#FFF;
            text-align:center;
        }

    </style>
    {% endblock %}
</head>
<body style="height:100%;background-color:#BBCCDD;">

<div style="padding:0px;height:100%;background-color:#e8e8e8;">

<div class="chatheader">
    <table width="100%">
        <tr>
            <td width="50%" align="left">JW Chat</td>
            <td width="50%" align="right">
                <span onclick="chatTrain()" style="cursor: pointer">Train</span>
            </td>
        </tr>
    </table>


</div>
    <div id="chatbox" style=height:450px;margin-top:50px;padding:10px;background-color:#BBCCDD;overflow-y:scroll;overflow-x:hidden;max-height:100vh;"></div>
<div class="chatfooter">
    <table width="100%">
        <tr>
            <td width="90%">
                <input type="text" id="chattext" style="padding:10px;width:100%;border:solid 0px #000;">
            </td>
            <td width="10%">
                <button style="padding:10px;width:100%;" onclick="sendAsk()">SEND</button>
            </td>
        </tr>
    </table>
</div>

</div>
</body>
</html>